.App {
  text-align: center;
}

.CalcContainer {
  border: 3px solid #252525; 
  border-radius: 15px; 
  width: 600px;
  margin: auto;
  background-color: #212cce; 
}

.DispContainer {
  padding: 10px;
  border: 2px solid #000; 
  border-radius: 10px; 
  height: 60px;
  background-color: #9c9c9c; 
}

.Display {
  font-size: 2em;
  text-align: right;
  padding-right: 10px;
  color: #fff; 
}

.ButtonsContainer {
  border: 2px solid #000; 
  border-radius: 10px; 
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  background-color: #000000; 
}

.ButtonsContainer > button {
  font-size: 1.5em;
  padding: 15px;
  background-color: #4c4b58; 
  border: 1px solid #fff; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 8px; 
}

.ButtonsContainer > button:hover {
  background-color: #bdbdbd; 
}

.ButtonsContainer > .surname {
  grid-column: span 4;
  background-color: #f4ab5c; 
  color: #fff; 
  border-radius: 8px; 
}